<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Enable gzip compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <!-- Handle Node.js -->
    <handlers>
      <add name="iisnode" path="server/index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Define the default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="server/index.js" />
      </files>
    </defaultDocument>

    <!-- Rewrite rules for Node.js and React routing -->
    <rewrite>
      <rules>
        <!-- First rule: handle all requests to Node.js -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server/index.js\/debug[\/]?" />
        </rule>

        <!-- Second rule: handle api routes -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server/index.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Configure iisnode -->
    <iisnode
      node_env="%node_env%"
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />
  </system.webServer>
</configuration>